<div class="create-user-container">
    <div><b>Detail User</b></div>
    <div>
        <label>User Name:</label>
        <input type="text" name="username" value="<%= user.username %>"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" value="<%= user.email %>"/>
    </div>
    <div>
        <label>Address:</label>
        <input name="address" value="<%= user.address %>"/>
    </div>
</div>
